body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
}

h1 {
  color: #333;
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.description {
  color: #555;
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
  max-width: 300px;
  margin: 0 auto;
}

li {
  background-color: #e2e2e2;
  margin: 5px 0;
  padding: 10px;
  border-radius: 4px;
  text-align: center;
  font-size: 1.2rem;
}

button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1rem;
  margin: 10px 5px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: #333;
  color: #fff;
  transition: background-color 0.3s ease;
}

.buttons {
  display: flex;
  justify-content: center;
}

button:hover {
  background-color: #555;
}


#changeTextButton {
  background-color: #4CAF50;
}

#changeTextButton:hover {
  background-color: #45A049;
}

#addItemButton {
  background-color: #2196F3;
}

#addItemButton:hover {
  background-color: #0b7dda;
}
